* {
    box-sizing: border-box;
}
a, a:link {
    color: rgb(169, 0, 116);
    font-weight: bold;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}  
header {
    background: rgb(32, 32, 64) url(images/header-wave.png) no-repeat;
    background-position: center bottom;
    color: #fff;
    padding: 3em 0;
    position: relative;
    text-align: center;
}
header h1 {
    margin-top: 0;
}
main {
    margin: 0 auto 2em;
    padding: 0 1em;
    max-width: 540px;
}
#resources main {
    max-width: 900px;
}
main h2, main h3, main p {
    text-align: center;
}
main details {
    margin-bottom: 1.5em;
}
main details summary {
    font-weight: bold;
}
main .exercise-list {
    list-style: none;
}
#resources main .exercise-list {
    columns: 2;
    gap: 3em;
    list-style: initial;
}
main .exercise-list > li {
    border-bottom: 2px solid #ddd;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 1em;
}
#resources main .exercise-list > li {
    border-bottom: none;
    margin-top: 0;
}
footer {
    font-size: 1rem;
    margin: 2em 0;
    text-align: center;
}
@media screen and (max-width: 640px) {
    #resources main .exercise-list {
        columns: 1;
    }
}
