/* The basics */
:root {
    --color-primary-light: #fff;
    --color-accent-dark: #000;
    --color-border-input: #E0E0E3;
    --color-link: var(--color-accent-dark);
    --color-link-hover: #119bc8;
    --bgcolor-header: var(--color-primary-light);
    --bgcolor-mobile-megamenu: #E0E0E3;
    --bgcolor-menu: var(--color-accent-dark);
    --bgcolor-form: var(--color-primary-light);
    --bgcolor-input: #F9F9F9;
    --bgcolor-content-page: #E5E5E5;
    --bgcolor-footer: #F9F9F9;
    --width-inset: 780px;
    --width-wide: 940px;
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0;
    min-width: 320px;
}
h2, .secondary {
    font-size: 2rem;
    font-weight: normal;
}
h3, .tertiary {
    font-size: 1.5rem;
}
h4, .quartenary {
    font-size: 1.25rem;
}
h5, .quintary {
    font-size: 1.15rem;
}
.normal {
    font-weight: normal;
}
.bold {
    font-weight: bold;
}
a, a:link {
    color: var(--color-link);
}
a:hover {
    color: var(--color-link-hover);
}

/* Header and Mega-Nav */
#header {
    padding-top: 1em;
    position: relative;
}
#header-nav {
    background-color: var(--bgcolor-header);
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--width-wide);
    position: relative;
    z-index: 1;
    width: 100%;
}
#header-logo h1 {
    font-size: inherit;
    margin: 0;
}
#header-logo a {
    align-items: center;
    color: inherit;
    display: flex;
    font-weight: 500;
    padding: 1.5em;
    text-decoration: none;
    position: relative;
    z-index: 1;
}
#header-login {
    margin-left: auto;
}
#header-login a {
    color: inherit;
    display: block;
    opacity: 0.6;
    padding: 1.65em;
    text-decoration: none;
}
.logo-img {
    display: inline-block;
    margin-right: 0.25em;
}
#header-megamenu {
    align-items: center;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
}
button.megamenu-navitem {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 1.9em;
    position: relative;
}
.megamenu-section:first-of-type .megamenu-navitem {
    margin-left: 300px;
}
.megamenu-submenu {
    background-color: var(--bgcolor-menu);
    color: var(--color-primary-light);
    display: none;
    font-size: 0.85rem;
    left: 0;
    max-width: var(--width-wide);
    opacity: 0;
    position: absolute;
    width: 100%;
}
.megamenu-section.active .megamenu-navitem,
.megamenu-section:focus-within .megamenu-navitem,
.megamenu-section:hover .megamenu-navitem {
    background-color: #f2f2f3;
}
.megamenu-section.active .megamenu-submenu {
    display: flex;
    height: 225px;
    opacity: 1;
    overflow: hidden;
}
.megamenu-section.active .megamenu-navitem:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid black;
    bottom: 0;
    content: '';
    display: block;
    height: 0;
    left: 50%;
    position: absolute;
    width: 0;
}
.megamenu-submenu-group {
    margin: 2em;
}
.megamenu-submenu-image-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: auto;
}
.megamenu-submenu-image-block ~ .megamenu-submenu-image-block {
    margin-left: 0;
}
.megamenu-submenu-image-block a {
    align-items: center;
    background-color: #2C2D2B;
    color: var(--color-primary-light);
    display: flex;
    padding: 1em;
    line-height: 1;
    text-decoration: none;
}
.megamenu-submenu-image-block a:hover,
.megamenu-submenu-image-block a:focus {
    background-color: #4E4B48;
}
.megamenu-submenu-image-block a svg {
    margin-right: 0.5em;
}
.megamenu-submenu-header {
    font-weight: bold;
    margin-bottom: 1em;
    text-transform: uppercase;
}
.megamenu-submenu-link {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.75em;
    margin-left: -0.75em;
}
.megamenu-submenu-link a {
    border: 1px dashed transparent;
    color: inherit;
    line-height: 1.25;
    padding: 0.25em;
    text-decoration: none;
    word-break: normal;
}
.megamenu-submenu-link a:hover {
    border: 1px dashed currentColor;
}
.megamenu-submenu-link:before {
    color: #ccc;
    content: '\02C6';
    display: inline-block;
    font-size: 0.85rem;
    transform: rotate(90deg);
}
@media screen and (max-width: 940px) {
    .megamenu-section:first-of-type .megamenu-navitem {
        margin-left: 160px;
    }
}
@media screen and (max-width: 740px) {
    .megamenu-submenu-image-block {
        display: none;
    }
}
@media screen and (max-width: 640px) {
    #header-logo a {
        font-size: 0.85rem;
        padding: 1.5em 0.5em;
    }
    #header-login {
        font-size: 0.85rem;
        margin-left: 0px;
    }
    #header-megamenu {
        background-color: var(--bgcolor-mobile-megamenu);
        justify-content: space-around;
        top: 4em;
        width: 100%;
    }
    .megamenu-section:first-of-type .megamenu-navitem {
        margin-left: 0;
    }
    .megamenu-section .megamenu-navitem {
        padding: 1.5em;
    }
    .megamenu-submenu-group {
        margin: 2em 1em;
    }
}

/* Page Content and Layouts */
#main {
    min-height: 600px;
    position: relative;
}
.section {
    margin: 0em auto;
    padding: 4em 0.5em;
    width: var(--width-inset);
}
.wide-section {
    margin: 4em auto;
    max-width: var(--width-wide);
    padding: 0 0.5em;
}
.two-parts-50-50 {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
}
.two-parts-50-50 img {
    text-align: right;
}
.two-parts-60-40 {
    align-items: center;
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 4em;
}
.three-parts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding: 0 0 inherit;
    text-align: center;
}
@media screen and (max-width: 780px) {
    .section {
        width: 100%;
    }
    .two-parts-50-50 {
        display: block;
    }
    .two-parts-50-50 .content-block {
        margin-bottom: 2em;
    }
    .two-parts-60-40 {
        display: block;
    }
}
@media screen and (max-width: 540px) {
    .three-parts {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr; 
    }
}
@media screen and (max-width: 420px) {
    .three-parts {
        display: block;
    }
}
.three-parts .item {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 1em;
}
.item.green {
    background-color: #EEFDF2;
    color: #00541E;
}
.item.yellow {
    background-color: #FFF6EA;
    color: #712813;
}
.item.blue {
    background-color: #EEF8FF;
    color: #0F4163;
}
.item svg {
    margin: 1em 0;
}
.item .header {
    font-size: 1rem;
    font-weight: bold;
    margin: 2em 0 1em;
}
.item p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Forms */
.form-field {
    position: relative;
}
.form-field label {
    font-weight: 500;
    font-size: 1rem;
}
.form-field span[class^="icon"] {
    background-color: #333;
    display: block;
    height: 1em;
    width: 1em;
}
.form-field .custom-input span[class^="icon"] {
    height: 2em;
    margin: 1rem 0 0 0.5em;
    position: absolute;
}
.form-field span.icon-lookingglass {
    background: url(../../images/icons/icon-lookingglass.svg) no-repeat;
}
.form-field span.icon-calendar {
    background: url(../../images/icons/icon-calendar.svg) no-repeat;
}
.form-field input,
.form-field textarea {
    box-sizing: border-box;
    background-color: var(--bgcolor-input);
    border-color: var(--color-border-input);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-family: inherit;
    line-height: 2;
    width: 100%;
    -webkit-appearance: none;
}
.form-field input {
    height: 3rem;
    padding-left: 3em;
}
.form-field textarea {
    height: 10em;
    margin: 1em 0;
    padding: 0.5em 1em;
}
.form-submit [class^='btn-'] {
    background-color: var(--color-accent-dark);
    border: none;
    border-radius: 5px;
    color: var(--color-primary-light);
    display: inline-block;
    font-weight: bold;
    height: 3rem;
    line-height: 1;
    padding: 0.75rem;
    text-align: center;
    vertical-align: middle;
    min-width: 3em;
}
.form-submit [class^='btn-']:hover {
    cursor: pointer;
}
.form-submit .btn-send {
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-size: 1rem;
    width: 6em;
}
.form-submit .btn-lookingglass svg {
    display: inline-block;
}
.form-submit .btn-lookingglass svg path {
    fill: var(--color-primary-light);
}
.form-submit .icon-arrow {
    background: transparent url(../../images/icons/icon-right-arrow.svg) no-repeat;
    background-size: contain;
    display: inline-block;
    height: 0.75em;
    transition: all 0.25s ease-in-out;
    width: 1em;
}
.form-submit .btn-send:hover .icon-arrow {
    transform: translateX(4px);
}

/* Page-specific styles */

/* Homepage */

.page-home #header {
    background: url(../../images/backpacking1.jpg) no-repeat;
    background-position: top center;
    background-size: contain;
    min-height: 640px;
}
.page-home .form-wrap {
    align-items: end;
    background-color: var(--bgcolor-form);
    border-radius: 3px;
    box-shadow: 0 10px 30px #00000012;
    display: grid;
    gap: 1em;
    grid-template-columns: 3fr 3fr 1fr;
    padding: 2em;
    margin: -60px auto 0;
}
@media screen and (max-width: 640px) {
    .page-home .form-wrap {
        grid-template-columns: none;
        grid-template-rows: auto;
    }
}
.page-home .two-part-overlap {
    padding-top: 3em;
    position: relative;
}
.page-home .content-block-wrap {
    position: relative;
}
.page-home .content-block-wrap img {
    float: left;
    margin-right: 1em;
    margin-top: -2em;
}
.page-home .content-block {
    background-color: #F8F8F8;
    margin-left: auto;
    max-width: 620px;
    padding: 1.5em 1.5em 4.5em 4.5em;
    width: 100%;
}
.page-home .content-block p {
    color: #4A4B49;
    font-size: 1rem;
    margin: 1em 0;
}
.page-home .link-block {
    font-size: 1rem;
    margin-left: 1em;
    margin-top: -3em;
    max-width: 300px;
}
@media screen and (max-width: 840px) {
    .page-home #header {
        background-size: cover;
        min-height: 355px;
    }
    .page-home .content-block-wrap img {
        margin-bottom: 1em;
    }
    .page-home .link-block {
        margin-top: 0;
    }
}
@media screen and (max-width: 640px) {
    .page-home .content-block-wrap img {
        width: 100%;
    }
    .page-home .content-block {
        padding: 1.5em;
    }
}
.page-home .link-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}
.page-home .link-list a {
    color: #4A4B49;
    display: block;
    margin: 0.25em 0;
    padding: 0.25em 0;
    text-decoration: none;
}
.page-home .link-list a:before {
    color: var(--color-accent-dark);
    content: '\02C6';
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.5rem 0 0;
    transform: rotate(90deg);
}

/* About Page */
.page-about {
    background-color: var(--bgcolor-content-page);
    padding-bottom: 6em;
}
.page-about .form-wrap {
    background-color: var(--bgcolor-form);
    padding-bottom: 3em;
}
.page-about .content-block p,
.page-about .content-block address {
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5;
    margin-bottom: 1em;
}
.page-about .content-block .contact {
    align-items: flex-start;
    display: flex;
}
.page-about .content-block [class^='icon-'] {
    display: inline-block;
    height: 1.5em;
    margin-right: 0.5em;
    width: 1.5em;
}
.page-about .content-block .icon-at {
    color: #545050;
    font-size: 1.3rem;
    height: 1em;
}
.page-about .content-block .icon-house {
    background: transparent url(../../images/icons/icon-location.svg) no-repeat;
    background-size: contain;
}

/* Footer */
#footer {
    background-color: var(--bgcolor-footer);
    min-height: 100px;
    padding: 0 0.5em 2em 0.5em; 
}
#footer .section {
    padding-top: 2em;
}
#footer-logo {
    align-items: center;
    background-color: var(--color-accent-dark);
    border-radius: 50%;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
}
