:root {
    --global-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --color-primary-light: #fff;
    --color-accent-dark: #000;
    --color-border-input: #E0E0E3;
    --color-border-button: #E6EBEF;
    --color-link: var(--color-accent-dark);
    --color-link-hover: #119bc8;
    --bgcolor-header: var(--color-primary-light);
    --bgcolor-mobile-megamenu: #E0E0E3;
    --bgcolor-menu: var(--color-accent-dark);
    --bgcolor-form: var(--color-primary-light);
    --bgcolor-input: #F9F9F9;
    --bgcolor-date-button: #F8F9FA;
    --bgcolor-content-page: #E5E5E5;
    --bgcolor-footer: #F9F9F9;
    --width-inset: 780px;
    --width-wide: 940px;
}